@import '../../styles/$vars.scss';

.tabsNav {
   display: flex;
   align-items: center;
   border-bottom: 1px solid var(--primary200);
   position: relative;
}

.tabsBtn {
   padding: 9px 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--dark);
   position: relative;
}

.tabsBtnActive {
   color: var(--blue);
   font-weight: 500;
}

.magicLine {
   position: absolute;
   bottom: 0;
   height: 2px;
   background-color: var(--blue);
   transition: left 0.2s $transitionFunction, width 0.2s $transitionFunction;
}
