.bannerInfo {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   overflow: hidden;
   padding: 24px 32px;
   border-radius: 24px;
   background-color: #b5bbed;
}
